{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    This is not a real service. Its intended for training purposes only.
  </strong>
</div>

  <a class="govuk-back-link" href="/file_upload">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>

      <h2 class="govuk-heading-m">Submitted details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Have you looked at the skeleton?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['skeleton'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/skeleton">
              Change skeleton answer
              <span class="govuk-visually-hidden"> /span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Why are you using this service?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['service'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="service">
              Change your reason
              <span class="govuk-visually-hidden"> /span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What is your address?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['address-line-1'] }} <br> 
            {{ data['address-line-2'] }} <br> 
            {{ data['address-town'] }} <br> 
            {{ data['address-county'] }} <br> 
            {{ data['address-postcode'] }} <br> 

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="address">
              Change your address
              <span class="govuk-visually-hidden"> /span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What do you like?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['like'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="checkbox">
              Change your likes
              <span class="govuk-visually-hidden"> /span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Upload a file
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['file-upload-1'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="file_upload">
              Change your file
              <span class="govuk-visually-hidden"> /span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Now send your application</h2>

      <p>By submitting this application you confirm, some information was submitted.</p>

      <form action="/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Accept and send
        </button>

      </form>

    </div>
  </div>
{% endblock %}
