{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Confirmation page
{% endblock %}

{% block beforeContent %}
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    This is not a real service. It's intended for training purposes only.
  </strong>
</div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Application complete</h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>AUTO119</strong>
        </div>
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        We've sent your application into a black hole. And we have no idea what will actually happen to it. Why not try
        <a href="index">
          submit another application.
        </a>
      </p>
    </div>
  </div>

{% endblock %}