{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Start page - Automate an application
{% endblock %}

{% block beforeContent %}
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    This is not a real government service. It's intended for training purposes only.
  </strong>
</div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <h2 class="govuk-heading-m">Use this service to:</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>Practice writing automated tests</li>
        <li>Explore a "government like" training service</li>
        <li>Fork it and use for your own needs </li> 
      </ul>

      <a href="/skeleton" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://github.com/LandRegistry/skeleton-acceptance-tests">
                Acceptance tests skeleton
              </a>
            </li>
            <li>
              <a href="https://cucumber.io/docs/cucumber/">
                Cucumber docs
              </a>
            </li>
            <li>
              <a href="https://www.ruby-lang.org/en/documentation/">
                Ruby docs
              </a>
            </li>
            <li>
              <a href="/manage-prototype/clear-data">
                Clear session data
              </a>
            </li>
            <li>
              <a href="https://govuk-prototype-kit.herokuapp.com/docs">
                GOV.UK Prototype Kit
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
{% endblock %}
