{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/start">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">How many balls can you juggle?</h1>

      <form class="form" action="/juggling-trick" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-many-balls" name="how-many-balls" type="radio" value="3 or more" {{ checked("how-many-balls", "3 or more") }} >
                <label class="govuk-label govuk-radios__label" for="how-many-balls">
                  3 or more
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-many-balls-2" name="how-many-balls-2" type="radio" value="1 or 2" {{ checked("how-many-balls", "1 or 2") }} >
                <label class="govuk-label govuk-radios__label" for="how-many-balls-2">
                  1 or 2
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-many-balls-3" name="how-many-balls-3" type="radio" value="None - I cannot juggle" {{ checked("how-many-balls", "None - I cannot juggle") }} >
                <label class="govuk-label govuk-radios__label" for="how-many-balls-3">
                  None - I cannot juggle
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
