{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Service page
{% endblock %}


{% block beforeContent %}
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    This is not a real service. Its intended for training purposes only.
  </strong>
</div>
  <a class="govuk-back-link" href="/skeleton">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/address" method="post">

        <div class="govuk-form-group">
          <h1 class="govuk-heading-xl">Why are you using this service?</h1>
          <textarea class="govuk-textarea" id="service" name="service" rows="5" aria-describedby="more-detail-hint"> </textarea>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
